In [1]:
import pandas as pd

In [3]:
dataFrame = pd.read_excel("ornekExcel.xlsx")

In [4]:
dataFrame

  Unnamed: 0  Maas   Yas  Departman
0    Sümeyye   500  25.0    Yazılım
1       Arda   200  23.0      Satış
2     Zeynep   100  24.0        NaN
3     Mehmet   150  25.0  Pazarlama
4       Emir   250   NaN     Finans
5       Asya   200  26.0      Hukuk

In [6]:
doluDegerlerDataFrame = dataFrame.dropna()

In [7]:
doluDegerlerDataFrame

  Unnamed: 0  Maas   Yas  Departman
0    Sümeyye   500  25.0    Yazılım
1       Arda   200  23.0      Satış
3     Mehmet   150  25.0  Pazarlama
5       Asya   200  26.0      Hukuk

In [8]:
doluDegerlerDataFrame.to_excel("yenimaas.xlsx")

In [9]:
#read_csv
#to_csv